.text-input{

-fx-text-inner-color: red;
-fx-text-inner-color: OrangeRed;

-fx-text-inner-color: orange;
-fx-text-inner-color: gold;

-fx-text-inner-color: lime;
-fx-text-inner-color: DarkGreen;

-fx-font-size: 20px;
-fx-font-size: 16px;
-fx-font-size: 14px;
}